@charset "UTF-8";

@font-face {
  font-family: Exo2;
  font-display: swap;
  src: url("../fonts/Exo2-Bold.woff2") format("woff2"), url("../fonts/Exo2-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Exo2;
  font-display: swap;
  src: url("../fonts/Exo2-ExtraBold.woff2") format("woff2"), url("../fonts/Exo2-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Exo2;
  font-display: swap;
  src: url("../fonts/Exo2-Medium.woff2") format("woff2"), url("../fonts/Exo2-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Exo2;
  font-display: swap;
  src: url("../fonts/Exo2-Regular.woff2") format("woff2"), url("../fonts/Exo2-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Exo2;
  font-display: swap;
  src: url("../fonts/Exo2-SemiBold.woff2") format("woff2"), url("../fonts/Exo2-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/* Бургер меню */

.menu-icon {
  width: 40px;
  height: 30px;
  position: relative;
}

.menu-icon::after,
.menu-icon::before {
  content: "";
  position: absolute;
  left: 0;
}

.menu-icon::before {
  top: 0;
  -webkit-transition: top 0.3s 0.3s, -webkit-transform 0.3s;
  transition: top 0.3s 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, top 0.3s 0.3s;
  transition: transform 0.3s, top 0.3s 0.3s;
  transition: transform 0.3s, top 0.3s 0.3s, -webkit-transform 0.3s;
}

.menu-icon::after {
  bottom: 0;
  -webkit-transition: bottom 0.3s 0.3s, -webkit-transform 0.3s;
  transition: bottom 0.3s 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, bottom 0.3s 0.3s;
  transition: transform 0.3s, bottom 0.3s 0.3s;
  transition: transform 0.3s, bottom 0.3s 0.3s, -webkit-transform 0.3s;
}

.menu-icon__line,
.menu-icon::after,
.menu-icon::before {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
}

.menu-icon--active .menu-icon__line {
  display: none;
}

.menu-icon--active::before {
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  top: 50%;
  -webkit-transition: top 0.3s, -webkit-transform 0.3s 0.3s;
  transition: top 0.3s, -webkit-transform 0.3s 0.3s;
  -o-transition: top 0.3s, transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}

.menu-icon--active::after {
  -webkit-transform: translateY(50%) rotate(-45deg);
      -ms-transform: translateY(50%) rotate(-45deg);
          transform: translateY(50%) rotate(-45deg);
  bottom: 50%;
  -webkit-transition: bottom 0.3s, -webkit-transform 0.3s 0.3s;
  transition: bottom 0.3s, -webkit-transform 0.3s 0.3s;
  -o-transition: bottom 0.3s, transform 0.3s 0.3s;
  transition: bottom 0.3s, transform 0.3s 0.3s;
  transition: bottom 0.3s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}

.menu-icon {
  display: none;
}

.swiper {
  width: 100%;
  height: 371px;
  overflow: hidden;
  position: relative;
}

.swiper-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.slider__box-buttons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider__btn {
  background: url("../img/direction.svg") left 30px center no-repeat;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #FFFFFF;
  cursor: pointer;
}

.swiper-button-next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slide__box {
  text-align: center;
  width: 303.72px;
  padding: 50px 15px 33px 15px;
  border-radius: 30px;
  cursor: pointer;
}

.slide__box--purple {
  background: -o-linear-gradient(71.64deg, #844FFC 9.87%, #491EB8 118.71%);
  background: linear-gradient(18.36deg, #844FFC 9.87%, #491EB8 118.71%);
}

.slide__box--red {
  background: -o-linear-gradient(70.01deg, #FE7967 -0.66%, #F73757 95.81%);
  background: linear-gradient(19.99deg, #FE7967 -0.66%, #F73757 95.81%);
}

.slide__box--blue {
  background: -o-linear-gradient(60.38deg, #49A0FF 1.68%, #077EFF 101.42%);
  background: linear-gradient(29.62deg, #49A0FF 1.68%, #077EFF 101.42%);
}

.slide__box--orange {
  background: -o-linear-gradient(70.01deg, #FF691C -0.66%, #F7C137 95.81%);
  background: linear-gradient(19.99deg, #FF691C -0.66%, #F7C137 95.81%);
}

.slide__box--light-blue {
  background: -o-linear-gradient(321.42deg, #72CFD4 9.29%, #42A0C2 83.38%);
  background: linear-gradient(128.58deg, #72CFD4 9.29%, #42A0C2 83.38%);
}

.slide__box--pink {
  background: -o-linear-gradient(321.42deg, #E477AE 9.29%, #C54284 83.38%);
  background: linear-gradient(128.58deg, #E477AE 9.29%, #C54284 83.38%);
}

.slide__title {
  padding: 20px 0 8px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.slide__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 0.7;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  background: #F5F5FB;
}

.container {
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 20px;
}

.stop-scroll {
  overflow: hidden;
}

.header {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 58px;
}

.header__btn-enter {
  margin-right: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 130%;
  color: #FFFFFF;
}

.header__btn-enter:hover {
  color: #131336;
}

.header__btn-registration {
  padding: 11px 40px;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 20px 40px rgba(31, 47, 71, 0.25);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 20px 40px rgba(31, 47, 71, 0.25);
  border-radius: 100px;
  background: #F4F8FF;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 175%;
  text-align: center;
  color: #131336;
}

.header__btn-registration:hover {
  background: #FFC0CB;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1049px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px 58px;
}

.menu__item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 130%;
  color: #FFFFFF;
}

.menu__link:hover {
  border-bottom: 2px solid #FFFFFF;
}

.main__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 145%;
  color: #737984;
}

.subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #131336;
}

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #131336;
}

.title--padding {
  padding: 64px 0px 120px 0px;
}

.promo {
  background-image: url("../img/fon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 147px;
}

.promo__inner {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 86px;
}

.promo__box-content {
  max-width: 588px;
}

.promo__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 113%;
  color: #FFFFFF;
  mix-blend-mode: normal;
  text-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
}

.promo__subtitle {
  padding: 24px 0px 32px 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
}

.form-registration {
  max-width: 418px;
  text-align: center;
  padding: 24px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(92, 103, 153, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(92, 103, 153, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 30px;
}

.form-registration__title {
  padding-bottom: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #131336;
}

.form-registration__input {
  padding: 16px 16px 14px 16px;
  margin-bottom: 8px;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  display: block;
  background: #FFFFFF;
  border: 1px solid #DBE1FF;
  border-radius: 30px;
}

.form-registration__btn {
  margin-top: 16px;
  height: 48px;
  background: #7224F3;
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.form-registration__btn:hover {
  background: #4B0082;
}

.form-registration__link {
  display: block;
  padding-top: 13px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  color: #FFFFFF;
}

.form-registration__text {
  padding: 16px 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #737984;
  overflow: hidden;
}

.form-registration__text:before,
.form-registration__text:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 2px;
  background: rgba(0, 0, 0, 0.15);
  border-width: 0 0.5em 0;
  margin: 5px;
}

.form-registration__text:before {
  margin-left: -100%;
}

.form-registration__text:after {
  margin-right: -100%;
}

.icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 0 16px;
}

.offer {
  padding-top: 17%;
}

.offer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.offer__img {
  width: 126px;
}

.offer__boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 39px 40px;
}

.offer__box {
  padding: 9px 9px 9px 25px;
  max-width: 416px;
  height: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 10px;
}

.offer__box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__box-img {
  max-width: 150px;
}

.offer__box-1 {
  background: -o-linear-gradient(316.18deg, #FEBBBB 2.32%, #922BF9 93.74%);
  background: linear-gradient(133.82deg, #FEBBBB 2.32%, #922BF9 93.74%);
  border-radius: 34px;
}

.offer__box-2 {
  background: -o-linear-gradient(313.36deg, #00AEFF 11.53%, #0076FF 79.11%);
  background: linear-gradient(136.64deg, #00AEFF 11.53%, #0076FF 79.11%);
  border-radius: 34px;
}

.offer__box-3 {
  background: -o-linear-gradient(316.18deg, #FEBBBB 2.32%, #922BF9 93.74%);
  background: linear-gradient(133.82deg, #FEBBBB 2.32%, #922BF9 93.74%);
  border-radius: 34px;
}

.offer__box-4 {
  background: -o-linear-gradient(321.42deg, #72CFD4 9.29%, #42A0C2 83.38%);
  background: linear-gradient(128.58deg, #72CFD4 9.29%, #42A0C2 83.38%);
  border-radius: 34px;
}

.offer__box-5 {
  background: -o-linear-gradient(321.42deg, #E477AE 9.29%, #C54284 83.38%);
  background: linear-gradient(128.58deg, #E477AE 9.29%, #C54284 83.38%);
  border-radius: 34px;
}

.offer__box-6 {
  background: -o-linear-gradient(321.42deg, #E477AE 9.29%, #C54284 83.38%);
  background: linear-gradient(128.58deg, #E477AE 9.29%, #C54284 83.38%);
  border-radius: 34px;
}

.materials {
  padding-top: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.materials__box-img {
  max-width: 630px;
}

.materials__content {
  padding-left: 10px;
  max-width: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48px 0;
}

.qualification {
  padding-top: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.qualification__box-img {
  max-width: 481px;
}

.qualification__content {
  padding-right: 10px;
  max-width: 565px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48px 0;
}

.professional {
  padding-top: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.professional__box-img {
  max-width: 478px;
}

.professional__content {
  padding-left: 10px;
  max-width: 543px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48px 0;
}

.limitation {
  padding-top: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.limitation__box-img {
  max-width: 479px;
}

.limitation__content {
  padding-right: 10px;
  max-width: 565px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48px 0;
}

.confederate {
  padding-top: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.confederate__box-img {
  max-width: 451px;
}

.confederate__content {
  padding-left: 10px;
  max-width: 543px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48px 0;
}

.footer {
  background: #E4E9FD;
}

.footer__inner {
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 9%;
  padding-right: 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.footer__container-logo {
  position: absolute;
  left: 9%;
  top: 65px;
}

.footer__container-text {
  padding-top: 60px;
}

.footer__text-small {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  color: #737984;
}

.footer-nav__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 40px;
  color: #7224F3;
}

.footer-nav__link:hover {
  border-bottom: 2px solid #7224F3;
}

.icon__title {
  padding-bottom: 23px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #131336;
}

.icon__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 20px;
}

@media (max-width: 1370px) {
  .subtitle {
    font-size: calc(24px + 12 * (100vw - 390px) / 980);
  }

  .title {
    font-size: calc(24px + 26 * (100vw - 390px) / 980);
  }

  .title--padding {
    padding-bottom: calc(50px + 70 * (100vw - 390px) / 980);
  }

  .promo {
    padding-top: calc(31px + 116 * (100vw - 390px) / 980);
  }

  .promo__inner {
    padding-left: calc(0px + 86 * (100vw - 390px) / 980);
  }

  .promo__box-content {
    max-width: calc(342px + 246 * (100vw - 390px) / 980);
  }

  .promo__title {
    font-size: calc(28px + 32 * (100vw - 390px) / 980);
  }

  .promo__subtitle {
    font-size: calc(17px + 1 * (100vw - 390px) / 980);
  }

  .offer__img {
    width: calc(81px + 45 * (100vw - 390px) / 980);
  }
}

@media (max-width: 1368px) {
  .offer__inner {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .offer__boxs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1133px) {
  .promo__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 906px) {
  .materials {
    gap: 40px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .materials__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .qualification {
    gap: 40px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .qualification__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .professional {
    gap: 40px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .professional__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .limitation {
    gap: 40px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .limitation__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .confederate {
    gap: 40px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .confederate__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (max-width: 885px) {
  .menu-icon {
    display: block;
    right: 0;
    top: 0;
    z-index: 3;
  }

  .menu {
    display: none;
    padding-top: 50px;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__btn-registration {
    background: #7224F3;
    color: #FFFFFF;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .header__btn-enter {
    padding: 11px 32px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    color: #7224F3;
  }

  .menu {
    display: block;
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    padding: 100px 30px 30px 30px;
    width: 100%;
    background-color: #0b76ef;
    z-index: 2;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    -o-transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }

  .menu__item {
    font-size: 30px;
  }

  .menu--visible {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .header-burger__box {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 20px 0;
  }

  .header__btn-enter {
    margin-right: 0;
    font-size: 24px;
  }

  .header__btn-registration {
    font-size: 24px;
  }
}

@media (max-width: 860px) {
  .footer__inner {
    padding-left: 0%;
    padding-right: 0%;
  }

  .footer__container-logo {
    left: 0%;
  }
}

@media (max-width: 740px) {
  .footer-nav__list {
    display: none;
  }
}

@media (max-width: 513px) {
  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .footer__container-logo {
    top: 20px;
    padding-left: 100px;
  }

  .footer__container-text {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 48px;
  }

  .icon {
    padding-top: 20px;
  }
}

@media (max-width: 455px) {
  .offer__box {
    min-width: 400px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .offer__box-img {
    display: none;
  }
}